@page "/deliveries"
@inject SuppliersApiClient Api
@using SuppliersPortal.Models

<h3>Entregas</h3>

@if (deliveryDtos is null)
{
    <p><em>Carregando entregas...</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Fornecedor</th>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var d in deliveryDtos)
            {
                <tr>
                    <td>@d.SupplierId</td>
                    <td>@d.ProductId</td>
                    <td>@d.Quantity</td>
                    <td>@d.DeliveryDate.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>

    <h4 class="mt-4">Registrar nova entrega</h4>
    <div class="row">
        <div class="col-md-3"><input placeholder="Supplier ID" class="form-control" @bind="NewDelivery.SupplierId" /></div>
        <div class="col-md-3"><input placeholder="Product ID" class="form-control" @bind="NewDelivery.ProductId" /></div>
        <div class="col-md-2"><input type="number" class="form-control" placeholder="Qtd" @bind="NewDelivery.Quantity" /></div>
        <div class="col-md-3"><input type="string" class="form-control" @bind="DateStr" /></div>
        <div class="col-md-1">
            <button class="btn btn-success w-100" @onclick="AddDelivery">+</button>
        </div>
    </div>
}

@code {
    private List<DeliveryDto>? deliveryDtos;
    private RegisterDeliveryRequest NewDelivery = new();
    private string DateStr = DateTime.UtcNow.ToString("yyyy-MM-dd");

    protected override async Task OnInitializedAsync()
    {
        deliveryDtos = (await Api.GetDeliveriesAsync()).ToList();
    }

    private async Task AddDelivery()
    {
        NewDelivery.DeliveryDate = DateTime.Parse(DateStr);
        var created = await Api.RegisterDeliveryAsync(NewDelivery);
        if (created != null)
        {
            deliveryDtos!.Add(created);
            NewDelivery = new();
        }
    }
}
